<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Users</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= authenticated_path %>">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= link_to admin_users_path, class: "btn btn-default" do %>
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back
              <% end %>
            </h3>
            <div class="card-tools">
              <%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-warning" %>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= label_tag("Full name") %>
                  <p><%= @user.name %></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= label_tag("Email address") %>
                  <p><%= @user.email %></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= label_tag("Photo") %>
                  <p><%= image_tag(@user.photo_url) %></p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
