<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>AdminLTE 3 | Dashboard 2</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<!-- Wrapper -->
<div class="wrapper">

  <!-- Navbar -->
  <%= render 'common/nav' %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%= render 'common/aside' %>

  <%= yield %>

  <%= render 'common/footer' %>

</div>
<!-- ./wrapper -->

<%= yield :page_script %>
</body>
</html>